.input {
    background-color: #010201;
    border: none;
    padding: 7px;
    width: 450px;
    height: 56px;
    border-radius: 10px;
    color: white;
    padding-inline: 30px 50px;
    font-size: 18px;

    &::placeholder {
        color: #c0b9c0;
    }

    &:focus {
        outline: none;
    }
}


#form-input {
    position: relative;
}

#resetButton {
    position: absolute;
    top: 20%;
    right: 3.5rem;
    background-color: transparent;
    cursor: pointer;

    & svg {
        height: 18px;
        transition: all 0.3s;
        width: 40px;
        height: 40px;
    }

    & svg path {
        transition: all 0.3s;
        fill: #3c3c3c;
        stroke: rgb(63, 63, 63);    
    }

    &:hover svg path {
        fill: #3c3c3c;
        stroke: white;
    }
}

#sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 10px;

    & svg {
        height: 18px;
        transition: all 0.3s;
    }

    & svg path {
        transition: all 0.3s;
    }

    &:hover svg path {
        fill: #3c3c3c;
        stroke: white;
    }
}