/*=========================================================
Author       : LeThienHuy.
==============================================================*/

/*=============================================================
    CSS INDEX
  =============================
    01.GENERAL STYLE
    02.HEADER STYLE
		
*=============================================================*/
/*










*/
/*===================================*
    01.START GENERAL
*===================================*/
/* Color */
:root {
    /* --header-bg: #266A29; */
    --body-bg: #d9d9d9;
    --body-bg: #1b2838;
    --header-bg: #393939;

    /* Form */
    --button-bg: #0074e4;
    --button-bg-hover: #3b90e0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: padding-left 0.3s ease-in-out;
}

.heading-section {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

/*===================================*
    01.END GENERAL
*===================================*/