.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Màu tối hơn */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Đảm bảo popup luôn ở trên cùng */
}

.popup-content-container {
    position: relative;
    background-color: #2c2c2c; /* Màu nền tối */
    color: #ffffff; /* Màu chữ trắng */
    border-radius: 8px;
    position: relative; /* Để định vị nút đóng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    border-bottom: 1px solid #ccc;
}

.popup-title {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Màu chữ trắng */
}

.popup-close-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    border-top-right-radius: 8px;
    transition: background-color 0.3s;
}

.popup-close-button:hover {
    background-color: rgb(255, 0, 0);
}

.popup-body {
    padding: 15px 18px;
}
